body {
    padding-top: 7%;
    padding-bottom: 7%;
}

.nav-tabs .nav-link.active {
    background-color:black;
    border-bottom:black;
    font-weight: bold;
    color: white;
  }

.img-fluid {
    max-width: 20%;
    height: auto; 
}

#profile {
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    background-color: white;
}

.scrollbox {
    height: 400px;
    padding: 10px;
    border: 2px solid black;
    overflow-y: scroll;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}