/* h1, h3  {
    font-family: Georgia, Times, sans-serif;
}

* {
    font-family: Georgia, Times, sans-serif;
}

head {
    background-color: rgb(77, 77, 77);
}
*/

body {
    padding-top: 7%;
    padding-bottom: 7%;
}

.nav-tabs .nav-link.active {
    background-color:black;
    border-bottom:black;
    font-weight: bold;
    color: white;
  }

/*

#header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;    
}

#project-title {
    size: 22px;
    font: 'Montserrat';
}

.redirect-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 6px;
}
*/

.img-fluid {
    max-width: 20%;
    height: auto; 
}

#profile {
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    background-color: white;
}

/*
#website {
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: rgb(58, 151, 190);
    height: 40px;
    width: 90px;
    border-radius:5px;
 margin-right:10px;
    padding:10px 10px 10px 10p;
    font-size: small;
    text-align: center;
    overflow-x: auto; 
}

main {
    padding: 10px
}

#recommendations {

}

.tab {

}

.tablinks {

}

.tabcontent {

}

.question-rec {

}

#cold-start {

}
*/

.scrollbox {
    height: 400px;
    padding: 10px;
    border: 2px solid black;
    overflow-y: scroll;
}

/*

.question-check {

}

#submit_button {

}

#action-click {

}

#get-rec {

}

*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}